In [78]:
import pandas as pd

In [79]:
QC_input = pd.read_csv('QC_input.csv')
QC_output = pd.read_csv('QC_output.csv')

In [100]:
def QC_module(mturk_res):
    resume_col_names = [ ".".join(col.split(".")[1:]) for col in QC_input.columns if col.split(".")[0] == 'GS'][1:]
    gold_standard_cols = ["GS." + col for col in resume_col_names]
    gold_standard_truth_cols = ["GStruth." + col for col in resume_col_names]
    for i in range(len(gold_standard_cols)):
        QC_input["GS pass?"] = QC_input[gold_standard_cols[i]] == QC_input[gold_standard_truth_cols[i]]
    dropped = gold_standard_cols + gold_standard_truth_cols
    return QC_input[QC_input["GS pass?"] == True].drop(columns=dropped)

In [101]:
 QC_module(QC_input)

,HIT ID,Worker ID,Q1,Q2,Q3,Q4,resume1.ID,resume1.Q1.answer.finance,resume1.Q1.answer.entertainment,resume1.Q1.answer.healthcare,...,resume3.Q4.communication,resume3.Q4.customer_service,resume3.Q4.leadership,resume3.Q4.organization/planning,resume3.Q4.collaboration,resume3.Q4.problem_solving,resume3.Q4.time_management,resume3.Q4.creativity,GS,GS pass?
0,1,1,Years of experience,Education Level,Most recent job title,Skills,1,3,0,1,...,False,False,True,False,False,True,True,False,31,True
1,1,2,Years of experience,Education Level,Most recent job title,Skills,1,2,0,2,...,False,False,True,False,False,True,True,False,31,True
2,1,3,Years of experience,Education Level,Most recent job title,Skills,1,3,0,1,...,False,False,True,False,False,True,True,False,31,True
3,2,4,Years of experience,Education Level,Most recent job title,Skills,4,6,0,0,...,True,False,True,False,True,True,False,False,31,True
4,2,5,Years of experience,Education Level,Most recent job title,Skills,4,7,0,0,...,False,False,True,False,True,False,False,False,31,True
5,2,6,Years of experience,Education Level,Most recent job title,Skills,4,6,0,0,...,True,False,True,False,True,True,False,False,31,True
6,3,7,Years of experience,Education Level,Most recent job title,Skills,7,0,0,6,...,False,False,False,True,False,True,True,False,31,True
7,3,8,Years of experience,Education Level,Most recent job title,Skills,7,0,0,6,...,False,False,False,True,True,True,True,False,31,True
8,3,9,Years of experience,Education Level,Most recent job title,Skills,7,0,0,6,...,False,False,False,True,False,True,True,False,31,True
9,4,10,Years of experience,Education Level,Most recent job title,Skills,10,0,10,0,...,True,False,True,False,False,True,False,False,31,True
10,4,11,Years of experience,Education Level,Most recent job title,Skills,10,0,10,0,...,True,False,True,False,False,False,False,False,31,True
11,4,12,Years of experience,Education Level,Most recent job title,Skills,10,0,10,0,...,False,False,True,False,False,False,True,False,31,True
12,5,13,Years of experience,Education Level,Most recent job title,Skills,13,0,0,0,...,True,False,True,False,False,False,False,False,31,True
13,5,14,Years of experience,Education Level,Most recent job title,Skills,13,0,0,0,...,True,False,True,False,False,False,False,False,31,True
14,5,15,Years of experience,Education Level,Most recent job title,Skills,13,0,0,0,...,True,False,True,False,False,False,False,False,31,True
15,6,16,Years of experience,Education Level,Most recent job title,Skills,16,0,3,0,...,True,False,False,True,False,False,False,True,31,True
16,6,17,Years of experience,Education Level,Most recent job title,Skills,16,0,3,0,...,True,False,False,True,False,False,False,True,31,True
17,6,18,Years of experience,Education Level,Most recent job title,Skills,16,0,3,0,...,True,False,False,True,False,False,False,True,31,True
18,7,19,Years of experience,Education Level,Most recent job title,Skills,19,0,0,0,...,True,False,False,False,False,True,True,True,31,True
19,7,20,Years of experience,Education Level,Most recent job title,Skills,19,0,0,0,...,True,False,False,False,False,True,False,True,31,True
20,7,21,Years of experience,Education Level,Most recent job title,Skills,19,0,0,0,...,False,False,False,False,False,True,True,True,31,True
21,8,22,Years of experience,Education Level,Most recent job title,Skills,22,0,0,0,...,True,True,False,True,True,False,True,False,31,True
22,8,23,Years of experience,Education Level,Most recent job title,Skills,22,0,0,0,...,True,True,True,True,True,False,True,False,31,True
23,8,24,Years of experience,Education Level,Most recent job title,Skills,22,0,0,0,...,True,True,False,True,True,False,True,False,31,True
24,9,25,Years of experience,Education Level,Most recent job title,Skills,25,0,0,0,...,False,False,True,False,True,True,True,False,31,True
25,9,26,Years of experience,Education Level,Most recent job title,Skills,25,0,0,0,...,False,False,True,False,False,True,True,False,31,True
26,9,27,Years of experience,Education Level,Most recent job title,Skills,25,0,0,0,...,False,False,True,False,True,True,True,False,31,True
27,10,28,Years of experience,Education Level,Most recent job title,Skills,28,0,0,0,...,True,True,False,False,True,False,True,False,31,True
28,10,29,Years of experience,Education Level,Most recent job title,Skills,28,0,0,0,...,True,True,False,False,False,True,True,False,31,True
29,10,30,Years of experience,Education Level,Most recent job title,Skills,28,0,0,0,...,True,True,False,False,True,False,False,False,31,True

NameError: name 'mturk_res' is not defined